<div class="container">
  <div>
    <%= link_to 'Voltar', :back, class: "btn btn-primary"%>
  </div>
  <br>
  <table class="table cores-tb <%= cookies[:theme] %>">
    <thead>
      <tr>
        <th scope="col">Ano</th>
        <th scope="col">Período</th>
        <th scope="col">Valor</th>
        <th scope="col">Indicador</th>
        <th scope="col">Ações</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @values.each do |value| %>
      <tr>
        <th scope="row"><%= value.ano %></th>
        <td><%= value.nome_periodo_valor(value.indicator.qtd_apuracoes_ano) %></td>
        <td><%= value.valor %></td>
        <td><%= value.indicator.nome %></td>
        <td><%= link_to "Ver", value_path(value), class: "tab-link"%><i class="fas fa-search-plus"></i></td>
        <td><a><%= link_to "Editar", edit_value_path(value), class: "tab-link" %><i class="fas fa-edit"></i></a></td>
        <td><a><%= link_to "Excluir", value_path(value), method: :delete, data: { confirm: "Você tem certeza?" }, class: "tab-link" %><i class="fas fa-trash-alt"></i></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="my-4">
    <%= link_to 'Voltar', :back, class: "btn btn-primary"%>
  </div>
</div>