<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://velhobit.com.br/wp-content/uploads/2017/08/receita-cnpj.jpg" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= link_to "Painel", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
           
         <%#= image_tag ("campainha.png"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            
            <span style="margin:10px;" class="btn btn-primary dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alertas</span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Criar Alerta", new_alert_path, class: "dropdown-item" %>
          <%= link_to "Alertas Recebidos", alerts_received_path, class: "dropdown-item"%>
          <%= link_to "Alertas Enviados", alerts_sent_path, class: "dropdown-item" %>
          <%= link_to "Alertas Arquivados", alerts_filed_path, class: "dropdown-item" %>
        </div>
        </li>

        <br>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Alterar cadastro / Trocar senha", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Administrar usuários", "#", class: "dropdown-item" %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Entrar", new_user_session_path, class: "btn btn-success" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
