<div>
  <%= simple_form_for(@alert) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <% if @indicator %>
      <p><strong><%= @indicator.nome %>
      <% " - #{@indicator.abrangencia} - #{@indicator.region.nome}" %>
      </strong></p>
      <% @alert.indicator_id = @indicator.id %>
    <% end %>
    <div class="form-inputs">
      <% if !@indicator %>
        <%= f.input :indicator_id, label: "Indicador", label_method: :name_of_method, value_method: :id, collection: @indicators %>
      <% else %>
        <%= f.input :indicator_id, as: :hidden, value: @indicator.id %>
      <% end %>
      <%= f.input :descricao, label: 'Alerta' %>
      <%= f.input :destinatario_id, label: 'Destinatário', collection: @users %>
      <%= f.input :providencia, label: 'Requer providência' %>
    </div>
    <div class="form-actions">
      <%= f.submit "#{@alert.id ? 'Alterar' : 'Criar'}", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
