<div class='container'>
  <% if User.find(@alert.criador_id) == current_user%>
    <div class="form">
      <h3>Entre com as alterações</h3>
      <%= render 'form', alert: (@alert)%>
      <div class="my-4">
        <%= link_to 'Voltar', alerts_sent_path, class: "a-primary"%>
      </div>
    </div>
    <h3>Alertas Enviados</h3>
    <div class='notifications'>
      <% @alerts.each do |alert| %>
        <div class="notification">
          <% if alert.destinatario.photo.attached? %>
            <%= cl_image_tag alert.destinatario.photo.key, class: "avatar-large" %>
          <% else %>
            <%= image_tag "user.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="notification-content">
            <p><small><%= alert.created_at.strftime('%d.%m.%Y %H:%M') %></small></p>
            <p><small><%= alert.indicator.nome %></small></p>
            <p><%= alert.descricao %></p>
            <p>Destinatário: <small><%= alert.destinatario.name %></small> - Ciência: <small>
            <%= "#{alert.data_ciencia ? alert.data_ciencia.strftime('%d.%m.%Y %H:%M') : 'Não confirmada'}" %>
              </small>  -  Providências: <small>
              <%= "#{alert.data_providencia ? alert.data_providencia.strftime('%d.%m.%Y %H:%M') : 'Não adotada'}" %>
              </small></p>
            <p><%= alert.texto_providencia %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="form">
      <h3>Informe as providências</h3>
      <%= render 'formp', alert: (@alert)%>
      <div class="my-4">
        <%= link_to 'Voltar', alerts_received_path, class: "a-primary"%>
      </div>
    </div>
    <h3>Alertas Recebidos</h3>
    <div class='notifications'>
      <% @alerts.each do |alert| %>
        <div class="notification">
          <% if alert.criador.photo.attached? %>
            <%= cl_image_tag alert.criador.photo.key, class: "avatar-large" %>
          <% else %>
            <%= image_tag "user.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="notification-content">
            <p><small><%= alert.created_at.strftime('%d.%m.%Y %H:%M') %></small></p>
            <p><small><%= alert.indicator.nome %></small></p>
            <p><%= alert.descricao %></p>
            <p>Criador: <small style="font-color:blue"><%= alert.criador.name %></small> - Ciência: <small><%= "#{alert.data_ciencia ? alert.data_ciencia.strftime('%d.%m.%Y %H:%M') : 'Não confirmada'}" %>
              </small>  -  Providência: <small>
              <%= "#{alert.data_providencia ? alert.data_providencia.strftime('%d.%m.%Y %H:%M') : 'Não adotada'}" %>
              </small></p>
            <p><%= alert.texto_providencia %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
