<div class="container">
  <div class="form">
    <h3>Crie um alerta</h3>
    <%= render 'form', alert: (@alert)%>
    <div class="my-4">
      <%= link_to 'Voltar', :back, class: "btn btn-primary", data: {turbolinks: 'false'} %>
    </div>
  </div>

  <h3>Alertas Enviados</h3>
  <div class='notifications'>
    <% @alerts.each do |alert| %>
      <div class="notification <%= cookies[:theme] %>">
        <% if alert.destinatario.photo.attached? %>
            <%= cl_image_tag alert.destinatario.photo.key, class: "avatar-large" %>
        <% else %>
            <%= image_tag "user.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <div class="notification-content">
          <p><small><%= alert.created_at.strftime('%d/%m/%Y') %></small></p>
          <p><small><%= alert.indicator.nome %></small></p>
          <p><%= alert.descricao %></p>
          <p>Destinatário: <small style="font-color:blue"><%= alert.destinatario.name %></small> - Ciência: <small>
            <%= "#{alert.data_ciencia ? alert.data_ciencia.strftime('%d/%m/%Y') : 'Não confirmada'}" %></small>
            <% if alert.providencia %>
              <%= "  -  Providência: " %><small>
              <%= "#{alert.data_providencia ? alert.data_providencia.strftime('%d/%m/%Y') : 'Não adotada'}" %></small>
              </p>
              <p><%= alert.texto_providencia %>
            <% end %>  
          </p>
        </div>
      </div>
    <% end %>
  </div>
  
</div>