<div>
  <%= simple_form_for(@dashboard) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    
    <div class="form-inputs">
      <%= f.input :nome, label: 'Nome do Painel' %>
    </div>
    <div class="form-actions">
      <% if @dashboard.id %>
        <%= f.submit 'Alterar', class: "btn btn-success" %>
        <%= link_to 'Excluir', @dashboard, method: :delete,  class: "btn btn-info", data: { confirm: 'Tem certeza de que deseja excluir o painel?' } %>
      <% else %>
        <%= f.submit 'Criar', class: "btn btn-success" %>
      <% end %>
    </div>
  <% end %>
</div>
