<div class="container">
  <div class="form">
    <h3>Troque o nome do painel</h3>
    <p style="font-size:18px">Dê um novo nome para o seu painel, sem perder seus indicadores escolhidos.
      Para apagar um painel existente, passe o ponteiro sobre a barra com o nome do painel e clique no ícone <strong>Apagar</strong>.</p>
    <br>
    <%= render 'form', dashboard: (@dashboard) %>
    <div class="my-4">
      <%= link_to 'Voltar', :back, class: "btn btn-primary", data: {turbolinks: 'false'} %>
    </div>
  </div>
  <hr>
  <h3>Painéis existentes</h3>
  <div class='notifications'>
    <% @dashboards.each do |dashboard| %>
      <div class="notification <%= cookies[:theme] %>">
        <div class="notification-content">
          <%= link_to dashboard_path(dashboard.id), data: {turbolinks: 'false'} do %>
            <p><small><%= dashboard.nome %></small></p>
          <% end %>
        </div>
        <div class="notification-actions">
          <%= link_to edit_dashboard_path(dashboard), class: "a-primary" do %>
            <i class="far fa-edit fa-2x"></i>
          <% end %>
          <%= link_to dashboard, method: :delete, data: { confirm: 'Tem certeza?' }, class: "a-primary" do %>
            <i class="far fa-trash-alt fa-2x"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
