<div class="container">
  <div class="form">
    <h3>Crie um painel</h3>
    <p style="font-size:18px">Você só precisa dar um nome para o seu painel. Ao clicar no botão <strong>Criar</strong> será gerado um
       painel com alguns indicadores que você poderá alterar como quiser.
       Para apagar um painel existente, passe o ponteiro sobre a barra com o nome do painel logo abaixo e clique no ícone <strong>Apagar</strong>.</p>
    <br>
    <%= render 'form', alert: (@dashboard)%>
    <div class="my-4">
      <%= link_to 'Voltar', :back, class: "btn btn-primary", data: {turbolinks: 'false'} %>
    </div>
  </div>
  <hr>
  <h3>Painéis existentes</h3>
  <div class='notifications'>
    <% @dashboards.each do |dashboard| %>
      <div class="notification <%= cookies[:theme] %>">
        <div class="notification-content">
          <%= link_to dashboard_path(dashboard.id), data: {turbolinks: 'false'} do %>
            <p><small><%= dashboard.nome %></small></p>
          <% end %>
        </div>
        <div class="notification-actions">
          <%= link_to dashboard, method: :delete, data: { confirm: 'Tem certeza?' }, class: "a-primary" do %>
            <i class="far fa-trash-alt fa-2x"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
