<div class="container text-center">

  <div class="dashboard <%= cookies[:theme] %>">
    <h2><%= @dashboard.nome %></h2>
    <div class="row p-auto m-auto">
      <!-- <% nova_linha = false %>
      <% num_cards = 0 %> -->
      <% @dashboard.kpis.order(ordem: :asc).each do |kpi| %>
       <!--  <% if nova_linha %>
          <div class="row p-auto m-auto">
          <% num_cards = 0 %>
        <% end %>
        <% kpi.destaque ? num_cards += 2 : num_cards += 1 %> -->
        <div class="dashboard-card <%= kpi.destaque ? 'dashboard-card-double ' : 'dashboard-card-single '%> <%=cookies[:theme] %>">
          <div class="dashboard-card-content <%= cookies[:theme] %>" >
            <h3><%= kpi.indicator.values.last.valor %></h3>
            <p> <%= "#{kpi.indicator.sigla}: #{kpi.nome}" %> </p>
            <h6>Meta: <%= kpi.indicator.goals.last.valor %></h6>

          </div>
          <%= render_graphic kpi %>
        </div>
       <!--   <% num_cards >= 4 ? nova_linha = true : nova_linha = false %>
        <% if nova_linha %>
          </div>
        <% end %> -->
      <% end %>
      <!-- <% if nova_linha %>
        <div class="row p-auto m-auto">
      <% end %> -->
        <div class="dashboard-card dashboard-card-single dashboard-plus d-flex justify-content-around align-items-center <%= cookies[:theme] %>">
          <%= link_to new_dashboard_kpi_path @dashboard do%>
            <i class="fas fa-plus-circle fa-5x"></i>,
          <% end %>
        </div>
    </div>
  </div>
</div>
