<div class='container'>
  <div class='notifications'>
        <h3><%= @indicator.nome %></h3>
    <div class="notification <%= cookies[:theme] %>">
        <div class="notification-content">
          <p>Objetivo: <small><%= @indicator.objective.nome %></small></p>
          <p>Sigla: <small><%= @indicator.sigla %></small>  -  Abrangência: <small><%= @indicator.abrangencia %></small>
            <% if @indicator.abrangencia.upcase == "REGIONAL" %>
              <small><%= @indicator.region.nome %></small>
            <% end %>
            - Unidade de medida: <small><%= @indicator.unidade_de_medida %></small>
          </p>
          <p>Apurações por ano: <small><%= @indicator.qtd_apuracoes_ano %>
            </small> - Metas por ano: <small><%= @indicator.qtd_metas_ano %>
            </small> (<%= @indicator.tipo_meta_max ? "valor máximo" : "valor mínimo" %>)
          </p>
        </div>
        <div class="notification-actions">
            <% if params[:graf] == "barra" %>
              <%= link_to indicator_path(@indicator, graf: "linha"), title: "Exibir com gráfico de linhas", class: "a-primary", data: {turbolinks: 'false'} do %>
                <i class="fas fa-chart-line fa-2x"></i>
              <% end %>
            <% else %>
              <%= link_to indicator_path(@indicator, graf: "barra"), title: "Exibir com gráfico de barras", class: "a-primary", data: {turbolinks: 'false'} do %>
                <i class="fas fa-chart-bar fa-2x"></i>
              <% end %>
            <% end %>
            <%= link_to edit_indicator_path(@indicator), title: "Editar", class: "a-primary" do %>
              <i class="far fa-edit fa-2x"></i>
            <% end %>
            <%= link_to new_alert_path(id: @indicator), title: "Criar Alerta!", class: "a-primary" do %>
              <i class="fas fa-bell fa-2x"></i>
            <% end %>
            <%= link_to @indicator, method: :delete, title: "Excluir", data: { confirm: 'Tem certeza que quer excluir?' }, class: "a-primary" do %>
              <i class="far fa-trash-alt fa-2x"></i>
            <% end %>
        </div>
    </div>
  </div>
  <div class="my-4">
    <%= link_to 'Voltar', :back, class: "btn btn-primary", data: {turbolinks: 'false'} %>
  </div>
  <hr>
  <div class='container w-300'>
    <% anoatual = Date.today.year %>
    <% xarray = @indicator.param_graph(2, anoatual - 2, anoatual) %>
    <% if params[:graf] == "linha" %>
      <%= line_chart xarray, defer: true, colors: ['#045762', 'rgb(175, 12, 12)'] %>
    <% else %>
      <%= column_chart xarray, defer: true, colors: ['#045762', 'rgb(175, 12, 12)'] %>
    <% end %>
    <br>
    <div class='notifications'>
      <div class="notification <%= cookies[:theme] %>">
        <p>Percentual de Cumprimento da Meta (mês atual):<strong><%= " #{@indicator.percent_meta[:perc_meta].round(2)}%" %></strong></p>
      </div>
    </div>
  </div>
</div>
