<div class='container'>
  <div class='notifications'>
        <h3><%= @indicator.nome %></h3>
    <div class="notification <%= cookies[:theme] %>">
        <div class="notification-content">
          <p>Objetivo: <small><%= @indicator.objective.nome %></small></p>
          <p>Sigla: <small><%= @indicator.sigla %></small>  -  Abrangência: <small><%= @indicator.abrangencia %></small>
          <% if @indicator.abrangencia.upcase == "REGIONAL" %>
          <small><%= @indicator.region.nome %></small>
          <% end %>
          </p>
          <p>Unidade de medida: <small><%= @indicator.unidade_de_medida %></small> - Apurações por ano: <small>
            <%= @indicator.qtd_apuracoes_ano %>
            </small> - Metas por ano: <small><%= @indicator.qtd_metas_ano %></small></p>
        </div>
        <div class="notification-actions">
            <% if params[:graf] == "barra" %>
              <a><%= link_to "Ver com linhas", indicator_path(@indicator, graf: "linha"), class: "a-primary", data: {turbolinks: 'false'} %>
              <i class="fas fa-chart-line"></i></a>
            <% else %>
              <a><%= link_to "Ver com barras", indicator_path(@indicator, graf: "barra"), class: "a-primary", data: {turbolinks: 'false'} %>
              <i class="fas fa-chart-bar"></i></a>
            <% end %>
            <a><%= link_to "Editar", edit_indicator_path(@indicator), class: "a-primary" %>
            <i class="far fa-edit"></i></a>
            <a><%= link_to "Criar alerta", new_alert_path(@alert), class: "a-primary" %>
            <i class="fas fa-bell"></i></a>
        </div>
    </div>
  </div>
  <div class="my-4">
    <%= link_to 'Voltar', :back, class: "btn btn-primary", data: {turbolinks: 'false'} %>
  </div>
  <hr>
  <div class='container w-300'>
    <% anoatual = Date.today.year %>
    <% xarray = @indicator.param_graph(2, anoatual - 2, anoatual) %>
    <% if params[:graf] == "linha" %>
      <%= line_chart xarray, defer: true %>
    <% else %>
      <%= column_chart xarray, defer: true %>
    <% end %>
    <br>
    <div class='notifications'>
      <div class="notification <%= cookies[:theme] %>">
        <p>Percentual de Cumprimento da Meta (mês atual):<strong><%= " #{@indicator.percent_meta[:perc_meta].round(2)}%" %></strong></p>
      </div>
    </div>
  </div>
</div>