<%= simple_form_for(@goal) do |f| %>
  <div class="form-inputs">
    <% if !@indicator %>
      <%= f.input :indicator_id, label_method: :name_of_method, label: "Indicador", goal_method: :id, collection: @indicators %>
    <% end %>
    <%= f.input :ano, label: "Ano: " %>
    <%= f.input :periodo, label: "Período: " %>
    <%= f.input :valor, label: "Valor: " %>
  </div>
  <% if @goal.id %>
        <%= f.submit 'Alterar', class: "btn btn-success" %>
        <%= link_to 'Excluir', @goal, method: :delete,  class: "btn btn-info", data: { confirm: 'Tem certeza que quer excluir?' } %>
      <% else %>
        <%= f.submit 'Criar', class: "btn btn-success" %>
  <% end %><% end %>