<div class="container w-50">
    <h3 class="text-center">Valor do <%= @goal.indicator.nome %></h3>
  <div class="notifications">
      <div class="notification">
        <div class="notification-content">
          <p>Ano: <small><%= @goal.ano %></small></p>
          <p>Período: <small><%= @goal.nome_periodo_valor(goal.indicator.qtd_apuracoes_ano) %></small></p>
          <p>Valor: <small><%= @goal.valor %></small></p>
        </div>
        <div class="notification-actions">
          <a><%= link_to "Editar", edit_goal_path(@goal), class: "a-primary" %>
                <i class="fas fa-edit"></i></a>
          <a><%= link_to "Excluir", goal_path(@goal), method: :delete, data: { confirm: "Você tem certeza?" }, class: "a-primary" %><i class="fas fa-trash-alt"></i></a></td>

        </div>
      </div>
  </div>
  <div class="my-4">
    <%= link_to 'Voltar', :back, class: "btn btn-primary", data: {turbolinks: 'false'}%>
  </div>
</div>